/**
 * Common Definitions
 * Beer and Automation
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Anusic Vladimir
 */

@color_background: white;
@color_text: #3d3d4c;

@color_orange: #ff4a00;
@color_callbox_blue: #006599;
@color_background_brown: #5b432a;
@color_background_blue: #112442;
@color_background_black: #020001;

@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;
