/**
 * Content Style Sheet
 * Beer and Automation
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

body {
	padding-top: 90px;
}

/**
 * Section info
 */
section#info {
	padding: @section_spacing calc(~'(100% - 600px) / 2');
	background-image: url(../images/header.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	min-height: 700px;

	article {
		color: white;
		text-align: center;
		background-image: url(../images/logo.svg);
		background-repeat: no-repeat;
		background-size: 300px auto;
		background-position: 50% 20%;

		h2 {
			padding-bottom: 280px;
		}

		p:nth-of-type(2) {
			font-weight: bold;
			padding-bottom: 0;
		}


		a {
			display: block;
			margin: 0 auto;
			padding: 1rem 1rem;
			color: white;
			background-color: #ff4a00;
			border: 1px solid white;
			border-radius: 5px;
			text-decoration: none;
			transition: all 0.3s;
			width: 345px;
			font-size: 2rem;
			text-align: center;
			font-weight: bold;

			&:hover,
			&:active,
			&:focus {
				background-color: darken(@color_orange, 10);
			}
		}
	}
}

/**
 * Section about
 */
section#about {
 	padding: @section_spacing calc(~'(100% - 1200px) / 2');

 	article.video {
 		text-align: center;

 		h2 {
 			color: @color_orange;
 		}
 	}

 	iframe {
 		display: block;
 		margin: 0 auto;
 		margin-top: 2rem;
 		margin-bottom: 100px;
 	}

 	article.callbox {
 		padding: 0 1rem;
 		background-image: url(../images/logo-callbox.png), url(../images/macbook-pro.jpg);
 		background-size: 200px auto, 450px auto;
 		background-repeat: no-repeat;
 		background-position: 80% top, 90% bottom;

 		html[dir=rtl] & {
 			background-position: 20% top, 10% bottom;
 		}

 		h3 {
 			color: @color_callbox_blue;
 		}
 	}
}

/**
 * Section why attend
 */
section#why_attend {
	padding: @section_spacing calc(~'(100% - 600px) / 2');
	color: white;
	background-image: url(../images/benefits.jpg);
	background-repeat: no-repeat;
	background-position: center center;

	h2 {
		text-align: center;
	}

	ul {
		padding: 0rem;
		margin: 0;

		li {
			list-style-type: none;
			padding: 1rem;

			p {
				display: inline-block;
				vertical-align: middle;
				padding: 0rem 1rem;
				margin: 0;
			}

			&:before {
				display: inline-block;
				vertical-align: middle;
				width: 80px;
				text-align: center;
			}

			&:nth-of-type(1):before {
				content: url(../images/glass.png);
			}

			&:nth-of-type(2):before {
				content: url(../images/food.png);
			}

			&:nth-of-type(3):before {
				content: url(../images/speaker.png);
			}

			&:nth-of-type(4):before {
				content: url(../images/time.png);
			}

			&:nth-of-type(4) {
				padding-bottom: 0;
			}
		}
	}
}

/**
 * Section subscribers
 */
section#subscribers {
	padding: @section_spacing calc(~'(100% - 800px) / 2');

	h2 {
		text-align: center;
		color: black;
	}

	ul {
		padding: 2rem 2rem;
		margin: 0;

		li {
			list-style-type: none;

			p {
				display: inline-block;
				vertical-align: middle;
				padding: 2rem 2rem;
			}

			&:before {
				display: inline-block;
				vertical-align: middle;
				width: 140px;
				padding: 0.5rem;
				border: 1px solid @color_text;
				text-align: center;
			}

			&:nth-of-type(1):before {
				content: url(../images/wework-location.png);
			}

			&:nth-of-type(2):before {
				content: url(../images/zapier_callbox.png);
			}
		}
	}
}

/**
 * Section know how
 */
section#know_how {
	padding: @section_spacing calc(~'(100% - 600px) / 2');
	background-image: url(../images/for-who.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	color: white;

	article {
		h2 {
			text-align: center;
		}
	}
}

/**
 * Section discount
 */
section#discount {
	padding: @section_spacing calc(~'(100% - 800px) / 2');
	text-align: center;

	h2 {
		padding: 1rem 150px;
		position: relative;
		color: @color_orange;

		&:before {
			content: url(../images/corner.png);
			position: absolute;
			left: calc(~'((100% - 492px) / 2) - 1rem');
			top: 0;
		}

		&:after {
			content: url(../images/corner.png);
			position: absolute;
			right: calc(~'((100% - 492px) / 2) - 1rem');
			bottom: 0;
			transform: rotate(180deg);
		}
	}

	article {

		p {

			&:nth-of-type(1) {
				font-weight: bold;
			}

			strong {
				font-size: 5rem;
				color: @color_orange;
			}
		}

		a {
			padding: @button_padding;
			color: white;
			background-color: @color_orange;
			border: 1px solid @color_orange;
			border-radius: 5px;
			text-decoration: none;
			font-weight: bold;
			transition: all 0.3s;

			&:hover,
			&:active,
			&:focus {
				background-color: darken(@color_orange, 10);
			}
		}
	}
}

/**
 * Section lecturers
 */
section#lecturers {
	padding: @section_spacing calc(~'(100% - 1200px) / 2');
	background-image: url(../images/speakers.jpg);
	background-repeat: no-repeat;
	background-size: 100% 65%;
	background-position: center top;
	background-color: @color_background_black;
	color: white;

	h2 {
		text-align: center;
	}

	figure {
		margin: 0;

		.elements-in-row(3, 2rem);

		display: inline-block;
		vertical-align: top;
		text-align: center;
		padding: 1rem;

		img {
			border: 2px solid @color_orange;
			border-radius: 50%;
		}
	}
}

/**
 * Section sponsors
 */
section#sponsors {
	padding: @section_spacing calc(~'(100% - 1200px) / 2');

	h2 {
		text-align: center;
		color: black;
	}

	a {
		display: inline-block;
		vertical-align: middle;
		.elements-in-row(4, 2rem);

		img {
			display: block;
			vertical-align: middle;
			margin: 0 auto;
		}

		&:nth-of-type(3) img {
			width: 111px;
			height: auto;
		}
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	section#why_attend,
	section#know_how {
		background-size: 100% 100%;
	}

	section#know_how {
		padding: @section_spacing calc(~'(100% - 500px) / 2');
	}
}
