/**
 * Footer Style Sheet
 * Beer and Automation
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */
footer {
	padding: @section_spacing calc(~'(100% - 1200px) / 2');
	background-image: url(../images/footer.jpg);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;

	article {
		color: white;
		text-align: center;
		background-image: url(../images/logo.svg);
		background-repeat: no-repeat;
		background-size: 300px auto;
		background-position: 50% 20%;

		h2 {
			padding-bottom: 300px;
		}

		p:nth-of-type(2) {
			font-weight: bold;
		}

		a {
			display: block;
			margin: 0 auto;
			padding: 1rem 1rem;
			color: white;
			background-color: #ff4a00;
			border: 1px solid white;
			border-radius: 5px;
			text-decoration: none;
			transition: all 0.3s;
			width: 345px;
			font-size: 2rem;
			font-weight: bold;
			text-align: center;

			&:hover,
			&:active,
			&:focus {
				background-color: darken(@color_orange, 10);
			}
		}
	}
}

div.copyright {
	background-color: @color_background_blue;
	color: white;
	text-align: center;
	background-position: calc(~'50% - 100px');
}
