/**
 * Footer Mobile Style Sheet
 * Beer and Automation
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Anusic Vladimir
 */

footer {
	padding: @section_spacing 1rem;
	background-image: url(../images/mobile-footer.jpg);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;

	article {
		color: white;
		text-align: center;
		background-image: url(../images/logo.svg);
		background-repeat: no-repeat;
		background-position: 50% 40%;
		background-size: 180px auto;

		h2 {
			padding-bottom: 150px;
		}

		p:nth-of-type(2) {
			font-weight: bold;
		}

		a {
			text-decoration: none;
			padding: @button_padding;
			background-color: @color_orange;
			border: 1px solid white;
			border-radius: 5px;
			color: white;

			&:active,
			&:focus {
				background-color: darken(@color_orange, 10);
			}
		}
	}
}

div.copyright {
	background-color: @color_background_blue;
	color: white;
	text-align: center;
	background-position: calc(~'50% - 100px') center;
}
